.btn {
  color: white;
  background-color: $accent-color;
  width: 299px;
  height: 53px;
  padding: 16.5px auto;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  border: none;
  cursor: pointer;
  &:hover {
    color: $accent-color;
    background-color: white;
    border: 2px solid $accent-color;
  }
}
