.product {
  padding-top: 50px;
}
.product__list__title {
  margin-bottom: 20px;
}
.product__list__description {
  margin-bottom: 30px;
}
.product__list__btn {
  margin-bottom: 55px;
}
.product__list__btn_secondary {
  width: 180px;
}
.product__list__btn_secondary {
  margin-bottom: 19px;
}
.product__list__item__positionNotice {
  position: relative;
}
.product.notice {
  position: absolute;
  top: 62%;
  background-color: white;
}
