.slider__stepList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.slider__stepList__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-accent-color;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: $accent-color;
  font-family: Epilogue;

  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  &:not(:first-child)::before {
    position: absolute;
    left: -110%;
    content: '';
    border-top: 2px solid $accent-color;
    width: 43px;
    border-radius: 40px;
  }
  & .slider__item_position {
    margin-bottom: -5px;
  }
  &:hover {
    background-color: $secondary-decor-color;
    color: #bad9e7;
  }
  &:hover::before {
    border-top: 2px solid $secondary-decor-color;
  }
}
.slider__title {
  margin-bottom: 16px;
}
.slider__description {
  margin-bottom: 20px;
}
.slider__list__item {
  margin-bottom: 10px;
}
.sliderList__title {
  margin-bottom: 15px;
}
.sliderList {
  display: inline-flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
  height: 34px;
  white-space: nowrap;
}
.sliderList__item {
  margin-right: 15px;
  &:hover {
    color: $accent-color;
  }
}
.sliderList__text {
  margin-bottom: 20px;
}
.sliderList__description {
  margin-bottom: 20px;
}
.sliderList__description__number {
  color: $accent-color;
  font-weight: 700;
}
.slider__notice {
  color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 72%;
  margin-bottom: 5px;
}
