$title-text-color: #111563;
// черные заголовки и текст
$primary-text-color: #63718e;
// $secondary-text-color: #3d3d3d;

$decor-color: #286dbd;
$secondary-decor-color: #e8f8ff;

$accent-color: #c774ee;
$secondary-accent-color: #fee5ff;

// $ligth: #bad9e7;

$light-bg-color: #f9fafc;
