html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
// * {
//   outline: 1px solid red;
// }
body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 100%;
  margin: 0;
  padding: 0;
  color: $title-text-color;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  background-color: rgb(243, 240, 240);

  @media (min-width: 320px) {
    width: 320px;
  }

  @media (min-width: 576px) {
    width: 576px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 768px) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

section {
  margin-bottom: 40px;
  background-color: rgb(176, 211, 241);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}
// .section-title {
//   color: $title-text-color;
//   font-style: normal;
//   font-weight: 800;
//   font-size: 20px;
//   line-height: 1.36;
//   letter-spacing: 0.03em;

//   margin-top: 0;
//   margin-bottom: 30px;

//   @include for-size(tablet-landscape) {
//     font-size: 26px;
//     line-height: 1.3;
//   }
//   @include for-size(desktop) {
//     font-size: 46px;
//     margin-top: 0;
//     margin-bottom: 50px;
//   }
// }
.visually_hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
